/adder-tutorial/adder-server/dist/
/adder-tutorial/adder-client/dist/
/adder-tutorial-maven/adder-client-maven/dist/
/movie-database-tutorial/movie-database-client/nbproject/private/
/movie-database-tutorial/movie-database-server/target/
/movie-database-tutorial/movie-database-client/build/